* html #main{
	height:100%;
}

* html #all{
	width:100%;
}
* html #left{
    margin-right:-100%;
}
* html #container{
    width:expression(
        (document.documentElement.clientWidth || document.documentElement.clientWidth)
        < 800? '800px':
        (document.documentElement.clientWidth || document.documentElement.clientWidth)
        > 1000? '1000px': 'auto'
        );
}